body{
    font-family: 'Noto Sans JP', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: green;
}
.half-width{
    width: 45%;
    float: left;
    margin-left: 4%;
    padding-left: 1%;
}
.half-width img{
    width: 100%;
}